*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Blue background */
  --primaryColor: #56c4e6;
  --secondaryColor: #f6f6f6;
  --titleColor: #fff;
  --bodyColor: #fff;
  --primaryBtn: #0e5d80;
  --primaryBtn--color: #fff;
  --secondaryBtn: #fff;
  --secondaryBtn--color: #399dbc;
  --footerBg: #146183;
  --footerColor: #eeeff4;

  /* White background */
  --titleColor--secondary: #0e5d80;
  --bodyColor--secondary: #5b5b5b;

  --btn-one: #71c4de;
  --btn-two: #fff;
  --btn-two-color: #0e5d80;

  --iconSize: 40px;
  --br: 8px;
}

/* Typegraphy */
html {
  font-size: 62.5%;
}

/* Button */
button {
  outline: 0;
  border: 0;
}

.btn {
  color: var(--primaryBtn--color);
  background-color: var(--primaryBtn);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border-radius: var(--br);
  cursor: pointer;
}

.btn--secondary {
  color: var(--secondaryBtn--color);
  background-color: var(--secondaryBtn);
}

.btn--one {
  color: var(--primaryBtn--color);
  background-color: var(--btn-one);
}

.btn--two {
  color: var(--btn-two-color);
  background-color: var(--btn-two);
  border: 1px solid var(--btn-two-color);
}

.btn--download {
  color: var(--bodyColor);
  border: 1px solid var(--bodyColor);
  background-color: transparent;
  display: none;
}

.push-right {
  margin-right: auto;
}

@media (min-width: 768px) {
  .btn {
    padding: 1.5rem 3rem;
  }

  .btn--download {
    display: block;
  }
}

h1,
h2,
h3 {
  font-weight: 800;
  color: var(--titleColor);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h6 {
  font-size: 2rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Mobile */

.mobile {
  padding: 5rem 1rem;
}

/* Container */
.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* Header */
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  padding-top: 2rem;
}

.nav .logo {
  position: relative;
  font-size: 4rem;
  background-color: var(--footerBg);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.nav .btn {
  margin-left: 1rem;
  font-size: 1.6rem;
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: var(--br);
  cursor: pointer;
}

.bar {
  position: relative;
  width: 30px;
  height: 3px;
  border-radius: var(--br);
  background-color: #000;
}

.bar::before,
.bar::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: var(--br);
}

.bar::before {
  top: -8px;
}

.bar::after {
  bottom: -8px;
}

.nav__list {
  display: none;
}

.nav__link {
  color: var(--bodyColor);
}

@media (min-width: 768px) {
  .nav .logo {
    width: 60px;
    height: 60px;
  }
  .nav__menu {
    display: none;
  }

  .nav__list {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-right: 5rem;
  }

  .nav__item {
    margin: 0 4rem;
  }
}

/* Main Background */
.main-bg {
  background-color: var(--primaryColor);
}

/* Main Section */
.main-section {
  display: grid;
  grid-template-areas:
    'img'
    'detail';
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .main-section {
    grid-template-columns: 58% 38%;
    grid-template-areas: 'detail img';
  }
}

.img-container {
  text-align: center;
  grid-area: img;
}

.main__detail {
  grid-area: detail;
}

.main__title {
  margin-top: 5rem;
}

.main__body {
  margin: 2rem 0;
  width: 90%;
}

.main__detail .btn {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .main-section .img-container {
    text-align: left;
    margin-left: -50px;
    margin-top: 4rem;
  }
}

@media (min-width: 1180px) {
  .main__title {
    font-size: 5.5rem;
  }

  .main__body {
    font-size: 2rem;
  }
}

/* Services */
.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.8rem;
}

.services .img-container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 4.5rem;
  border-radius: var(--br);
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.service {
  margin-bottom: 5rem;
}
/* Central Device */
.central-device {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.central-device__title {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.central-device__detail {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .central-device__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 4rem;
  }

  .central-device__detail {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }

  .central-device .img-container {
    order: 2;
    margin-top: 5rem;
  }
}

/* Features */
.features {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: var(--bodyColor--secondary);
}

.features__col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.features__col:last-child {
  border: 0;
}

.features .img-container {
  height: 400px;
  margin-bottom: 2rem;
}

.features .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 5rem;
}

.col__title {
  color: var(--titleColor--secondary);
}

.col__detail {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.features .btn {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .features__col {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .features .img-container {
    width: 30%;
  }

  .features .features__detail {
    margin-right: 10rem;
  }

  .col__title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }

  .col__detail {
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 5rem;
  }
}

/* Posts */
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 130px));
  gap: 3rem;
  font-size: 1.3rem;
  justify-content: center;
}

.posts__title {
  font-size: 4rem;
  color: var(--primaryBtn);
  padding: 0 1rem;
  padding-top: 5rem;
  display: none;
}

.posts .img-container {
  text-align: center;
}

.posts .img-container img {
  width: 100%;
}

.post__body {
  margin-top: 1rem;
}

@media (min-width: 450px) {
  .posts {
    grid-template-columns: repeat(auto-fit, minmax(125px, 200px));
  }
}

@media (min-width: 768px) {
  .posts {
    font-size: 1.6rem;
  }

  .posts__title {
    display: block;
  }

  .post__body {
    margin-top: 1.5rem;
  }
}

/* CV */
.cv {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

.cv__title {
  color: var(--primaryBtn);
  margin-bottom: 2rem;
}

.cv__detail {
  color: #474747;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .cv {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cv__title {
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .cv__body {
    font-size: 2rem;
  }
}

/* Footer */
.footer {
  background-color: var(--footerBg);
  color: var(--footerColor);
  font-size: 1.6rem;
}

.footer__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 5rem;
  border-bottom: 1px solid #fff;
}

.footer__item {
  margin: 0 1rem;
  margin-bottom: 7rem;
}

.footer__item_title {
  margin-bottom: 2rem;
}

.footer__list__item {
  margin-bottom: 1rem;
}

.footer__link {
  color: var(--footerColor);
}

.download__title {
  margin-bottom: 2rem;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.google-play img,
.app-store img {
  cursor: pointer;
}

.social-medias {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.media {
  margin: 0 1rem;
  width: var(--iconSize);
  height: var(--iconSize);
  cursor: pointer;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copy-right {
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    background-color: var(--primaryColor);
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .social-medias {
    margin-bottom: 0;
  }
}
