<section class="features mobile">
  <div class="features__col">
    <div class="img-container">
      <img src="/assets/images/kid.png" alt="A Child" />
    </div>
    <div class="features__detail">
      <h3 class="col__title">دارای تنظیمات مخصوص کودکان</h3>
      <p class="col__detail">
        نگران تغییر تنظیمات بانواز توسط فرزند عزیزت نباش!
      </p>
      <button class="btn btn--one">فروشگاه بانواز</button>
    </div>
  </div>

  <div class="features__col">
    <div class="img-container">
      <img src="/assets/images/phone.png" alt="Phone" />
    </div>
    <div class="features__detail">
      <h3 class="col__title">مدیریت خانه روی گوشی</h3>
      <p class="col__detail">
        با دانلود اپلیکیشن بانواز میتوانی تمامی سنسور ها را روی گوشیت مشاهده و
        کنترل کنی.
      </p>
      <button class="btn btn--two">فروشگاه بانواز</button>
    </div>
  </div>
</section>
