<section class="footer">
  <div class="container">
    <div class="footer__items mobile">
      <div class="footer__item">
        <h6 class="footer__item_title">بانواز</h6>
        <ul class="footer__list">
          <li class="footer__list__item">
            <a href="#" class="footer__link">خانه</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__link">فروشگاه</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__link">پنل کاربری</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h6 class="footer__item_title">فروشگاه</h6>
        <ul class="footer__list">
          <li class="footer__list__item">
            <a href="#" class="footer__link">دستگاه مرکزی</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__link">سنسور های داخلی</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__link">سنسور های خارجی</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h6 class="footer__item_title">درباره ما</h6>
        <ul class="footer__list">
          <li class="footer__list__item">
            <a href="#" class="footer__link">درباره بانواز</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__link">وبلاگ</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__link">موقعیت های شغلی</a>
          </li>
          <li class="footer__list__item">
            <a href="#" class="footer__link">تماس با ما</a>
          </li>
        </ul>
      </div>
      <div class="download-app">
        <h3 class="download__title">دانلود اپلیکیشن</h3>
        <div class="google-play">
          <img src="/assets/images/badges/GooglePlayBadge.png" alt="" />
        </div>
        <div class="app-store">
          <img src="/assets/images/badges/AppStoreBadge.png" alt="" />
        </div>
      </div>
    </div>

    <div class="social-medias">
      <div class="media">
        <img src="/assets/images/social-media-icons/youtube.png" alt="" />
      </div>
      <div class="media">
        <img src="/assets/images/social-media-icons/twitter.png" alt="" />
      </div>
      <div class="media">
        <img
          src="/assets/images/social-media-icons/Social Icons-2.png"
          alt=""
        />
      </div>
      <div class="media">
        <img src="/assets/images/social-media-icons/instagram.png" alt="" />
      </div>
    </div>
    <p class="copy-right">تمامی حقوق متعلق به بانواز میباشد.</p>
  </div>
</section>
