<section class="main-section mobile container">
  <div class="img-container">
    <img src="/assets/images/main-section.png" alt="Body Building Club" />
  </div>

  <div class="main__detail">
    <h2 class="main__title">خیالت از خونه راحت</h2>
    <p class="main__body">
      بانواژ واژه ای کردی به معنای با خبر ساختن با صدای بلند است. درست مثل
      باواز!<br />
      با سنسور های بانواز از هیچ اتفاقی بی خبر نیستی!<br />
      چه خونه باشی چه نه.
    </p>
    <button class="btn btn--secondary">فروشگاه بانواز</button>
  </div>
</section>
