<div class="posts mobile">
  <div class="post">
    <div class="img-container">
      <img src="/assets/images/cat.png" alt="A Cat" />
    </div>
    <div class="post__detail">
      <p class="post__body">
        سنسور هایی که برای حیوان های خانگی شما نصب میشوند، میتوانند با هوش
        مصنوعی گشنگی آن ها را تشخیص دهند!
      </p>
    </div>
  </div>

  <div class="post">
    <div class="img-container">
      <img src="/assets/images/plants.png" alt="Plants" />
    </div>
    <div class="post__detail">
      <p class="post__body">
        با محاسبه حرارت اطراف خاک گیاهان متوان فهمید چه زمانی باید دوباره به آن
        ها آب دهید!
      </p>
    </div>
  </div>

  <div class="post">
    <div class="img-container">
      <img src="/assets/images/laptop.png" alt="Laptop" />
    </div>
    <div class="post__detail">
      <p class="post__body">
        میتوانید مدت زمان روشن بودن دستگاه الکترونیکی خود را کنترل کنید یا حتی
        برای روشن شدن آن ها از بانواز کمک بگیرید.
      </p>
    </div>
  </div>

  <div class="post">
    <div class="img-container">
      <img src="/assets/images/window.png" alt="Window" />
    </div>
    <div class="post__detail">
      <p class="post__body">
        باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت های دیگر
        در سنسور های بانواز!
      </p>
    </div>
  </div>
</div>
