<section class="services mobile">
  <div class="service">
    <div class="img-container">
      <img src="/assets/images/services-img/door.png" alt="Door and Windows" />
    </div>
    <p class="service__detail">درب و پنجره</p>
  </div>
  <div class="service">
    <div class="img-container">
      <img src="/assets/images/services-img/Plant.png" alt="Planting" />
    </div>
    <p class="service__detail">گل و گیاه</p>
  </div>
  <div class="service">
    <div class="img-container">
      <img
        style="padding-top: 2rem"
        src="/assets/images/services-img/Plug.png"
        alt="Electronic Appliances"
      />
    </div>
    <p class="service__detail">وسایل برقی</p>
  </div>
  <div class="service">
    <div class="img-container">
      <img src="/assets/images/services-img/lamp.png" alt="Lightning" />
    </div>
    <p class="service__detail">روشنایی</p>
  </div>
  <div class="service">
    <div class="img-container">
      <img
        src="/assets/images/services-img/heater.png"
        alt="Heating Appliances"
      />
    </div>
    <p class="service__detail">گرمایی</p>
  </div>
  <div class="service">
    <div class="img-container">
      <img src="/assets/images/services-img/bones.png" alt="Pets Toy" />
    </div>
    <p class="service__detail">گرمایی</p>
  </div>
</section>
